code/dataDev/data/*
reportV1/*
reportV2/*
**/__pycache__/*
.DS_Store
data/*
**.env
_misc/csvAnalysis/data/*
**/results/*
_misc/updatedTask/data/*
modelDev-textClass-A/src/utils/threshold_optimization.py
modelDev-textClass-A/src/utils/SHARED_TENSOR_FIX.md
modelDev-textClass-A/src/utils/HPC_COMPATIBILITY_FIX.md
modelDev-textClass-A/src/utils/CLASS_IMBALANCE_REFACTOR.md
modelDev-textClass-A/src/utils/evaluate copy.py